<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.testsomething">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.KeyListActivity"
            android:label="@string/key"></activity>
        <activity
            android:name=".activity.PrintPkgAndClsActivity"
            android:label="@string/print_pkg_cls"></activity>
        <activity
            android:name=".activity.TestBrocastReceiverActivity"
            android:label="@string/test_broadcast"></activity>
        <activity
            android:name=".activity.ReadttyMT"
            android:label="@string/test_gps"></activity>
        <activity
            android:name=".activity.WifiSignalActivity"
            android:theme="@style/AppBaseTheme"
            android:label="@string/test_wifi"></activity>
        <activity
            android:name=".activity.SetNvRamActivity"
            android:label="@string/set_nvram"></activity>
        <receiver android:name=".receiver.KeyBroadcastReceiver">
            <intent-filter>
                <action android:name="com.android.intent.ptt.longpress" />
                <action android:name="com.android.intent.ptt.down" />
                <action android:name="com.android.intent.ptt.up" />
                <action android:name="com.android.intent.SOS.longpress" />
                <action android:name="com.android.intent.SOS.down" />
                <action android:name="com.android.intent.SOS.up" />
                <action android:name="android.intent.action.GLOBAL_BUTTON" />
                <action android:name="com.android.intent.illa.longpress" />
                <action android:name="com.android.intent.illa.down" />
                <action android:name="com.android.intent.illa.up" />
                <action android:name="com.android.intent.test111" />
                <action android:name="com.android.intent.test222" />
                <action android:name="com.android.intent.test333" />
                <action android:name="com.android.intent.test444" />
                <action android:name="com.android.intent.test555" />
                <action android:name="com.android.intent.test666" />
                <action android:name="com.android.intent.test555" />
                <action android:name="com.yl.ptt.keyup" />
                <action android:name="com.yl.ptt.keydown" />
                <action android:name="com.android.cusKey.ptt.down" />
                <action android:name="com.android.cusKey.ptt.up" />
                <action android:name="com.yl.gz.stopcamera" />
                <action android:name="com.yl.gz.startcamera" />
                <action android:name="com.yl.upload.dispatch.state" />

            </intent-filter>

        </receiver>
    </application>

</manifest>